
/*DEFAULT*/
.entity-info {
    min-height: 300px;
}

.char-indicator {
    width:10%;
    text-align:center;
}

.card-body {
    padding: 8px !important;
}

.row-info {
    margin-bottom: 14px;
    text-align: center;
}

.chart1-container {
    width: 30%;
    margin: auto;
}

.text-large {
    font-weight: bold;
}


.title-header {
    color: #0b830b;
}

@media (max-width: 768px) {
    .row-info {
        text-align: left;
    }

    .chart1-container {
        width: 86%;
        margin:auto;
    }

    .char-indicator {
        width: 33.3%;
        text-align: center;
    }
}