<!-- Layout footer -->
<nav class="bg-white" style="position: absolute; bottom: 0; left: 0; right: 0">
                <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                    <div class="pt-3">
                        <span class="footer-text font-weight-bolder">Credit Scoring 3000 | 2022</span> ©
                    </div>
                </div>
            </nav>
<!-- / Layout footer -->
