
<h1 class="text-success">Reporte de deterioro por Clasificación crediticia</h1>

<hr />

<img src="~/img/matrices/reportes/Deterioro-A.jpeg" style="width:80%;" />
<br /><img src="~/img/matrices/reportes/Deterioro-B.jpeg" style="width:80%;" />
<br /><img src="~/img/matrices/reportes/Deterioro-C.jpeg" style="width:80%;" />
<br /><img src="~/img/matrices/reportes/Deterioro-D.jpeg" style="width:80%;" />
<br /><img src="~/img/matrices/reportes/Deterioro-E.jpeg" style="width:80%;" />