
<h1 class="text-success">Matriz de probabilidad por Antig&uacute;edad</h1>

<hr />

<img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad1.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad2.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad3.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad4.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad5.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad6.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad7.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad8.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad9.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad10.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad11.PNG" style="width:98%;" />
<br /><br /><img src="~/img/matrices/ProbabilidadAnti/matrizporantiguedad12.PNG" style="width:98%;" />