
<h1 class="text-success">Matriz de probabilidad por Clasificacion</h1>

<hr />

<img src="~/img/matrices/probabilidad/MatrizdeProbabilidad1.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad2.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad3.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad4.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad5.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad6.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad7.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad8.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad9.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad10.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad11.png" style="width:60%;" />
<br /><br /><img src="~/img/matrices/probabilidad/MatrizdeProbabilidad12.png" style="width:60%;" />