@model List<UI.WEB.Models.POCO.ModeloMatrizTransicionMonto>


<link href="~/vendor/libs/toastr/toastr.dist.css" rel="stylesheet" />

<h2 class="text-success">Matriz de Transición Histórica Por Monto</h2>

<div class="p-2" style="background-color:#cbd2e3;">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <label class="form-label">Situación</label>
            <select class="form-control filter-situacion">
                <option value="">** Todas **</option>
                <option value="castigado">Castigado</option>
                <option value="vencido">Vencido</option>
                <option value="vigente">Vigente</option>
            </select>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <label class="form-label">Clasificación Crediticia</label>
            <select class="form-control filter-clasificacion">
                <option value="">** Todas **</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                <option value="e">E</option>
            </select>
        </div>
    </div>

</div>

<div class="table-container">
    <partial name="_TablaMatrizTransicionMonto.cshtml" model="@Model" />
</div>

@section Scripts{

<script src="~/vendor/libs/toastr/toastr.dist.js"></script>

<script>

    $('.filter-situacion, .filter-clasificacion').change(function(){

    var jqxhr = $.ajax({
        url: "TablaMatrizTransicionMonto",
        type: "POST",
        data: {
            "situacion": $('.filter-situacion').val(),
            "clasificacion": $('.filter-clasificacion').val()
        }
     });

     jqxhr.done(function (data) {
         $('.table-container').html(data);
         toastr.success("Filtro aplicado correctamente");
     });
     jqxhr.fail(function (data, textStatus) { 
         alert("Error filtrando los datos");
     });
     jqxhr.always(function (data, textStatus, jqXhr) { });

    });

</script>

}